<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Greetings, <%= @user.full_name %></h1>
    <p>
      You have been banished from Rotten Mangoes<br>
    </p>
    <p>
      To register again, follow this link: <%= @url %>.
    </p>
  </body>
</html>