/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
*/

/*colors*/
$primary-yellow: #FFBF40;
$primary-brown: #422910;
$primary-light: #FFF;

$body-bg:   $primary-yellow !default;
$text-color: $primary-brown !default;
$link-color: $primary-light !default;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: none;
$thumbnail-border: none;
$thumbnail-hover-bg: rgba(29, 106, 154, 0.72);

@import "bootstrap-sprockets";
@import "bootstrap";

body { 
  padding-top: 70px; 
  padding-bottom: 70px;
}

img.full-size {
  height: 500px;
}

.poster-thumbnail {
  position: relative;
}

.poster-caption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba($primary-brown, 0.5);
  color: $primary-light;
  visibility: hidden;
  opacity: 0;
  padding: 1em;
  /*remove comment if you want a gradual transition between states
  -webkit-transition: visibility opacity 0.2s;
  */
}

.poster-thumbnail:hover .poster-caption {
  visibility: visible;
  opacity: 1;
}
