<h1>Edit User Info</h1>
<%= form_for @user do |form| %>
  <%= render partial: 'users/form', locals: {form: form} %>
  <div><%= form.check_box :admin %> Admin</div>
  <div><%= form.submit "Update" %></div>
<% end %>